/* COMMON STYLING */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1db3ef;
  --gold: #f39d1a;
  --off-white: #fcfcfc;
  --deep-blue: #1e9dcf;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* GENERAL */

.logo {
  width: 5rem;
}

section {
  margin-top: 3rem;
}

.header {
  padding: 2em;
  background: var(--blue);
  border-radius: 0;
}

.jumbotron {
  background: var(--blue);
  padding-top: 10rem;
  width: 50%;
}

.round-button {
  background: var(--gold);
  color: white;
  border-radius: 3em;
}

/* END GENERAL */


/* NAV */

.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-left: 20px;
}

.nav-link {
  font-size: 0.9em !important;
  text-transform: uppercase;
  color: var(--blue) !important;
}

.nav-item a:hover {
  color: var(--gold) !important;
}

/* END NAV */


/* ABOUT SECTION */

.blockqoute {
  position: relative;
}

.blockqoute img {
  position: absolute;
  left: 25%;
  top: 10%;
}

.top {
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 20%;
  background: var(--blue);
  z-index: -1;
}

.qoute {
  position: absolute;
  left: 60%;
  top: 0;
  width: 40%;
  height: 20em;
  z-index: 1;
  background: var(--blue);
}

.about-column {
  overflow: hidden;
}

.about-column .btn {
  background: var(--gold);
  color: white;
  border-radius: 3em;
}

.about-column hr {
  width: 25%;
  border-top: 3px solid var(--gold);
}
/* END SECTION */

/* HUBS */

.hubs-column {
  background: var(--blue);
  color: white;
}

.hubs-column-content {
  width: 70%;
}

.map-column {
  position: relative;
}

.map-column img {
  position: absolute;
  right: 20%;
}

/* END HUBS */


/* GALLERY */

.gallery-text {
  margin-top: 7rem;
}

/* END GALLERY */


/* END STYLING */